{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JobSeeker</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
        <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    </head>
    <body class="sidebar-mini layout-boxed" style="height: auto;">
        <div class="wrapper">
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <div class="container">
                    {% if user.is_authenticated %}
                    <a href="{% url 'user-home' %}" class="navbar-brand">
                        <span class="brand-text font-weight-light"><strong>JobSeeker - </strong> Portal</span>
                    </a>
                    {% else %}
                    <a href="{% url 'home' %}" class="navbar-brand">
                        <span class="brand-text font-weight-light"><strong>JobSeeker - </strong> Portal</span>
                    </a>
                    {% endif %}
                    <div class="dropdown">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="user-menu-link">{{user.name}} {{user.surname}}</span>
                                    <i class="far fa-user"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" >
                                    <a href="{% url 'profile' user.pk %}" class="dropdown-item"> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'settings'%}" class="dropdown-item"> Settings </a>
                                    <div class="dropdown-divider"></div>
                                    {% if user.is_recruiter %}
                                        <a class="dropdown-item" href="{% url 'recruiter-logout' %}">Log Out</a>
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'jobseeker-logout' %}"> Log Out </a>
                                    {% endif %}
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'jobseeker-login' %}" style="font-size: 16px;">JobSeeker</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'recruiter-login' %}" style="font-size: 16px;">Recruiter</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper" style="background-color: #fff !important; padding-top: 15%; margin-left: auto; margin-rigt: auto">
                {% if not user.is_authenticated %}
                <div class="row">
                    <div class="col-md-12">
                        <h2 style="text-align:center; margin-bottom: 5%;">Let's find the job you are looking for together</h2>
                        <form action="simple-results.html">
                            <div class="input-group">
                                <input type="search" class="form-control form-control-lg" placeholder="position name or company name">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default btn-lg"  style="margin-right: 15px; background-color: rgb(13 110 253);">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                                <input type="search" class="form-control form-control-lg" placeholder="county, city or district">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default btn-lg"  style="margin-right: 15px; background-color: rgb(13 110 253);">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <aside class="control-sidebar control-sidebar-dark"></aside>
            <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
            <b>Version</b> x.y.z
            </div>
            <strong>Copyright © 2022 <a href="https://sdcaglar.github.io/">Seda</a>.</strong> It was created within the scope of the task, all rights reserved..
            </footer>
        </div>
    </body>
</html>
