{% extends "base.html" %}

{% block content %}
<div style="max-width: 80%; padding-top: 5%; margin-right: auto; margin-left:auto;">
    <h3>{{job.name}}</h3>
    <h4 style="color:black">{{job.company}}</h5>
    <h5 style="color:black">{{job.company_address}}</h5>
    <p>{{job.details|linebreaks}}</p>
    <div>
        {% if user.is_recruiter %}
            <hr>
            <h5 style="text-align:left; color: black;">Applicants</h5>
            <hr>
            {% for app in applications %}
                <li style="margin-bottom: 5px;">{{app.user.name}} - {{app.date}}</li>
            {% endfor %}
            <br>
            <a href="{% url 'edit-job' job.pk%}" class="btn btn-warning">Edit</a>
            <a href="{% url 'delete-job' job.pk%}" class="btn btn-danger">Delete</a>
        {% elif user.is_jobseeker %}
            <a href="{% url 'apply-job' job.pk %}" class="btn btn-dark">Apply</a>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}
